*{
    margin:0;padding:0
 }
#app{
    font-family:Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-align:center;
    color:#2c3e50;
    width:100vw;
    height:100vh;
    max-width:430px;
    margin:0 auto;
    position:relative
}

img{
     display:block
    }

a img{
    width:100%
}

a{
    -webkit-text-decoration:auto;
    text-decoration:auto
}

.wrap{
    height:100%;position:relative;
    overflow-x:hidden;
    overflow-y:scroll;
    background:url(./images/Index/bg.png) no-repeat top;
    background-size:100% 100%;
    background-attachment:local;
    padding-bottom:30px;box-sizing:border-box
}

.banner,.qqBox,.wrap{
    width:100%
}

.qqBox{
    height:70px;background:#131313;
    position:relative;
    display:block;
    color:#fff;
    font-size:18px;
    line-height:28px;
    padding:10px 0;
    font-weight:700;
    box-sizing:border-box
}

.qqBox>p:nth-child(2){
    font-size:15px
}

.boxSmall{
    line-height:45px;
    font-size:22px;
    height:65px;
    text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000
}

.qqBox:after{
    content:"";
    display:block;
    width:100%;height:10px;
    background:#19ccf8;
    position:absolute;
    top:35px;
    left:0;z-index:0
}

.qqBox p{
    position:relative;
    z-index:2
}

.meau{
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-justify-content:space-around;
    justify-content:space-around
}

.meau a{
    width:45%;
    margin-top:2%
}

.textarea{
    width:94%;
    border-radius:2px;
    position:relative;
    margin:15% auto 0;
    background:#161616;
    padding:25px;
    box-sizing:border-box;
    color:#fff;
    text-align:left;
    word-break:break-all;
    font-size:13px
}

.textarea>img{
    position:absolute;
    height:60px;
    top:-47px;
    left:0
}

.titRight>img{
    right:0;
    left:auto
}

.float{
    width:60px;
    position:fixed;
    top:70%;
    right:10px
}

@media screen and (min-width:431px){
    .float{
        position:absolute
    }
}

.tit{
    height:60px;
    margin-left:3%
}

.btn{
    display:block;
    width:45%;
    margin:5px 6%
}

.mask{
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.4);
    z-index:999
}

.info,.mask{
    position:absolute
}

.info{
    display:block;
    width:350px;
    height:150px;
    top:50%;
    left:50%;
    z-index:9999999;
    background-color:#fff;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    border-radius:10px;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    align-items:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    justify-content:center;
    padding:20px
}

.aaa,.info{
    text-align:center
}

.aaa{
    background-color:#cb4f51;
    padding:10px;
    display:block;
    width:70px;
    height:40px;
    color:#fff;
    border:none;
    margin-top:30px
}

.wrap[data-v-228c5f42]{
    background:url(../images/Register/bg.png) no-repeat top;
    background-size:100% 100%
}

.qqBox[data-v-228c5f42]:after{
    background:#e55da6
}

.meau[data-v-228c5f42]{
    width:90%;
    margin:0 20px
}
    
.meau a[data-v-228c5f42]{
    width:50%
}

.wrap[data-v-fda91ae4]{
    background:url(../images/Recharge/bg.png) no-repeat top;
    background-size:100% 100%
}

.qqBox[data-v-fda91ae4]:after{
    background:#dbb716
}

.meau[data-v-fda91ae4]{
    width:90%;
    margin:0 20px
}
    
.meau a[data-v-fda91ae4]{
    width:50%
}

.wrap[data-v-ce20261e]{
    background:url(../images/Benefit/bg.png) no-repeat top;
    background-size:100% 100%
}

.qqBox[data-v-ce20261e]:after{
    background:#449cff
}

.meau[data-v-ce20261e]{
    width:90%;
    margin:0 20px
}

.meau a[data-v-ce20261e]{
    width:50%
}

.wrap[data-v-003d087c]{
    background:url(../images/Method/bg.png) no-repeat top;
    background-size:100% 100%
}

.qqBox[data-v-003d087c]:after{
    background:#fa8d00
}

.meau[data-v-003d087c]{
    width:90%;
    margin:0 20px
}

.meau a[data-v-003d087c]{
    width:50%
}
